<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="$apphotel-primary">
                Book now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <h2 class="mat-display-1">
            Luxury Beach Resort SPA
        </h2>
        <h1 class="mat-display-4">
            Beach resort & SPA
        </h1>
    </div>
    <div class="thailand">
        <h3>Thailand</h3>
    </div>
</div>

<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h2 class="mat-subheading-2">Luxury beach Resort</h2>
        </div>
        <div>
            <h3 class="mat-subheading-3">Asia's tropical paradise</h3>
        </div>
        <div>
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nisi dolorum minima porro delectus deleniti natus ullam, labore eaque,
                recusandae architecto dolor incidunt consequatur aperiam rerum!
                Nostrum esse nisi maiores praesentium.
            </p>
        </div>
    </div>

    <div class="rooms-home-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">

        <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>
                    Rooms & Suites
                </h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">Explore</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>
                    Rooms & Suites
                </h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">Explore</button>
            </mat-card-actions>
        </mat-card>
        
    </div>
</section>
<!--  47 -->